*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  font-size: 16px;
  color: #0f0e17;
}
h1{
  font-family: Georgia, sans-serif;
  color: #ff8906;
  text-transform: uppercase;
}
h2{
  color: #57514B;
  font-size: 19px;
}

header{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}

nav{
  justify-content: space-evenly;
}
main{
  display:flex;
  width: 75vw;
  align-content:center;
  flex-direction: column;
}

.blurb{
  padding-bottom: 50px;
}

a:link {
   color:#0f0e17;
}
a:visited {
   color:#120909 ;
}
a:hover {
   color:#8C4545 ;
}
a:active {
   color:#b22222 ;
}
